<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav>
    <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('aboutMe') }}">About</a>
</nav>
<a href="{{ url_for('bladder') }}">Bladder</a>
<a href="{{ url_for('colon') }}">Colon</a>
<a href="{{ url_for('breast') }}">Breast</a>
<a href="{{ url_for('lung') }}">Lung</a>
<a href="{{ url_for('prostate') }}">Prostate</a>
    <div>
        <h1>You are currently coding a Breast Cancer Cell</h1>
      <form id="type" method="POST">

        <input type="radio" name="type" id="clin" checked value="c">
        <label for="clin">Clincal</label>
        <input type="radio" name="type" id="path" value="p">
        <label for="path">Pathological</label><br>

        <label for="T-Value">T-Value:</label><br>
        <input type="text" id="T-Value" name="T-Value" placeholder="Size of the Tumor"><br>
        <input type="checkbox" name="T-value" value="chest-intrusion" id="chest-intrusion">
        <label for="chest-intrusion">Chest Intrusion</label>
        <input type="checkbox" name="T-value" value="skin-intrusion" id="skin-intrusion">
        <label for="skin-intrusion">Skin intrusion</label>
        <input type="checkbox" name="T-value" value="suffix" id="suffix">
        <label for="suffix">Any synchronous tumors found in a single organ</label>
        <br>

        <label for="Metas">Metastasis Value:</label>
        <select name="Metas" id="Metas" style='width:10%;'>
          <option value="M0">No clinical or radographic evidence of distant metastases</option>
          <option value="M0">No clinical or radiographic evicdence of distant metastases in the presence of tumor cells or
            deposits no larger than 0.2mm detected microscopically or by molecular techniques in circulating blood, bone
            marrow, or other nonregional nodal tissue in a patient without symptoms or signs of metastases</option>
          <option value="M1">Distant metastasis detected by clinical and radiographic means</option>
          <option value="M1">Any histologically proven metastases in distant organs; or if in non-regional nodes,
            metastases greater than 0.2mm</option>
        </select>
        <br>
        <label for="Lymph">Lymph Node:</label>
        <select name="Lymph" id="Lymph" style="width: 50%;">
          <option value="NX">Lymph Nodes cannot be assessed</option>
          <option value="N0">No Lymph Node Metastasis</option>
          <option value="N1">Single regional lymph node in the true pelvis</option>
          <option value="N2">Multiple lymph node metastasis in the true pelvis</option>
          <option value="N3">Lymph node metastasis to the common iliac lymph nodes</option>
        </select>
        <br>

        <label for="Grade">Grade:</label>

        <select name="Grade" id="Grade">
          <option value="GX">Grade cannot be assessed (GX)</option>
          <option value="G1">Low combined histologic grade, SBR score of 3-5 points, low nucluear grade (G1)</option>
          <option value="G2">Intermediate combined histologic grade, SBR score of 6-7 points, intermediate nuclear grade (G2)</option>
          <option value="G3">High combined histologic grade. SBR score of 8-9 points, high nuclear grade (G3)</option>
        </select>
      </form>
    </div>
</body>
</html>