<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Bladder Staging</title>
</head>
<body>
<nav>
    <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('displayAll') }}">Display all</a>
    <a href="{{ url_for('aboutMe') }}">About</a>
</nav>
<a href="{{ url_for('bladder') }}">Bladder</a>
<a href="{{ url_for('colon') }}">Colon</a>
<a href="{{ url_for('breast') }}">Breast</a>
<a href="{{ url_for('lung') }}">Lung</a>
<a href="{{ url_for('prostate') }}">Prostate</a>
<h2>Patient Information</h2>
    <form id="Patient" method="POST">
        <label for="Gender">What is the Gender of the patient: </label>
        <select name="Gender" id="Gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other/Non-Binary</option>
        </select><br>
        <label for="HospitalName">Hospital Name:</label>
        <input type="text" id="HospitalName" name="HospitalName"><br>
        <label for="HospitalAddress">Hospital Address:</label>
        <input type="text" id="HospitalAddress" name="HospitalAddress">
    </form>
<div>
    <h2>You are currently coding a Bladder Cancer Cell</h2>
    <form id="type" method="POST">

        <input type="radio" name="type" id="clin" checked value="c">
        <label for="clin">Clincal</label>
        <input type="radio" name="type" id="path" value="p">
        <label for="path">Pathological</label><br>
        <label for="T-Value">T-Value</label>
        <select name="T-Value" id="T-Value">
            <option value="TX">Primary tumor cannot be assessed</option>
            <option value="T0">No Evidence of primary tumor</option>
            <option value="Ta">Non-invasive papillary carcinoma</option>
            <option value="Tis">Urothelial carcinoma in situ: "flat tumor"</option>
            <option value="T1">Tumor invades lamina propria (subepithelial conncetive tissue)</option>
            <option value="T2">Tumor invades muscularis propria</option>
            <option value="T2a">Tumor invades superficial muscularis propria (inner half)</option>
            <option value="T2b">Tumor invades deep muscularis propria (outer half)</option>
            <option value="T3">Tumor invades perivesical soft tissue</option>
            <option value="T3a">Tumor invades perivesical soft tissue microscopically</option>
            <option value="T3b">Tumor invades perivesical soft tissue macorscopically (extavesical mass)</option>
            <option value="T4">Extavesical tumor invades any of the following: prostatic stroma, seminal vesicles,
                uterus, vagina pelvic wall
                abdominal wall
            </option>
            <option value="T4a">Extravesical tumor invades directly into prostatic stroma, seminal vesicles, uterus,
                vagina
            </option>
            <option value="T4b">Extravesical tumor invades pelvic wall, abdomical wall</option>
        </select>
        <br>

        <label for="Clin-Metas">Clinical Metastasis Value:</label>
        <select name="Clin-Metas" id="Clin-Metas" style='width:10%;'>
            <option value="M0">No distant metastasis
            </option>
            <option value="M1">Distant Metastasis
            </option>
            <option value="M1a">Distant metastasis limited to lymph nodes beyond the common iliacs
            </option>
            <option value="M1b">Non-lymph-node distant metastases
            </option>

        </select>
        <br>
        <label for="Path-Metas">Pathological Metastasis Value:</label>
        <select name="Path-Metas" id="Path-Metas" style='width:10%;'>
            <option value="M1">Distant meatastis, microscopically confirmed
            </option>
            <option value="M1a">Distant metastasis limited to lymph nodes beyond the common iliacs, microscopically confirmed
            </option>
            <option value="M1b">Non-lymph-node distant metastases, microscopically confirmed
            </option>
        </select>
        <br>
        <label for="Lymph">Lymph Node:</label>
        <select name="Lymph" id="Lymph" style="width: 50%;">
            <option value="NX">Lymph Nodes cannot be assessed</option>
            <option value="N0">No Lymph Node Metastasis</option>
            <option value="N1">Single regional lymph node in the true pelvis</option>
            <option value="N2">Multiple lymph node metastasis in the true pelvis</option>
            <option value="N3">Lymph node metastasis to the common iliac lymph nodes</option>
        </select>
        <br>
        <button type="submit">Submit</button>
    </form>
</div>
{% if toStage %}
    <p>You staged: {{toStage}}</p>
    {% endif %}
    {% if stage %}
    <p>Which resulted in a stage {{stage}} cancer cell in this person</p>
    {% endif %}
</body>
</html>